@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?56816224');
  src: url('../font/fontello.eot?56816224#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?56816224') format('woff2'),
       url('../font/fontello.woff?56816224') format('woff'),
       url('../font/fontello.ttf?56816224') format('truetype'),
       url('../font/fontello.svg?56816224#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?56816224#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-down-open-mini:before { content: '\e800'; } /* '' */
.icon-down-open:before { content: '\e801'; } /* '' */
.icon-down-open-big:before { content: '\e802'; } /* '' */
.icon-up-open:before { content: '\e803'; } /* '' */
.icon-up-open-mini:before { content: '\e804'; } /* '' */
.icon-up-open-big:before { content: '\e805'; } /* '' */
.icon-down-open-1:before { content: '\e806'; } /* '' */
.icon-left-open-outline:before { content: '\e807'; } /* '' */
.icon-left-open:before { content: '\e808'; } /* '' */
.icon-down-dir:before { content: '\e809'; } /* '' */
.icon-down-open-3:before { content: '\e80a'; } /* '' */
.icon-left-open-1:before { content: '\e80b'; } /* '' */
.icon-heart:before { content: '\e80c'; } /* '' */
.icon-heart-empty:before { content: '\e80d'; } /* '' */
.icon-heart-empty-1:before { content: '\e80e'; } /* '' */
.icon-heart-1:before { content: '\e80f'; } /* '' */
.icon-heart-2:before { content: '\e810'; } /* '' */
.icon-heart-empty-2:before { content: '\e811'; } /* '' */
.icon-heart-empty-3:before { content: '\e812'; } /* '' */
.icon-plug:before { content: '\e813'; } /* '' */
.icon-info:before { content: '\e814'; } /* '' */
.icon-help:before { content: '\e815'; } /* '' */
.icon-home:before { content: '\e816'; } /* '' */
.icon-lightbulb:before { content: '\e817'; } /* '' */
.icon-bell:before { content: '\e818'; } /* '' */
.icon-mic:before { content: '\e819'; } /* '' */
.icon-up-hand:before { content: '\e81a'; } /* '' */
.icon-star:before { content: '\e81b'; } /* '' */
.icon-wrench:before { content: '\e81c'; } /* '' */
.icon-headphones:before { content: '\e81d'; } /* '' */
.icon-basket-1:before { content: '\e81e'; } /* '' */
.icon-award:before { content: '\e81f'; } /* '' */
.icon-lamp:before { content: '\e820'; } /* '' */
.icon-tools:before { content: '\e821'; } /* '' */
.icon-mic-1:before { content: '\e822'; } /* '' */
.icon-trophy:before { content: '\e823'; } /* '' */
.icon-lightbulb-2:before { content: '\e824'; } /* '' */
.icon-desktop:before { content: '\e825'; } /* '' */
.icon-laptop:before { content: '\e826'; } /* '' */
.icon-tablet:before { content: '\e827'; } /* '' */
.icon-mobile:before { content: '\e828'; } /* '' */
.icon-power:before { content: '\e829'; } /* '' */
.icon-beer:before { content: '\e82a'; } /* '' */
.icon-gift:before { content: '\e82b'; } /* '' */
.icon-cog:before { content: '\e82c'; } /* '' */
.icon-wrench-1:before { content: '\e82d'; } /* '' */
.icon-mobile-alt:before { content: '\e82e'; } /* '' */
.icon-mobile-1:before { content: '\e82f'; } /* '' */
.icon-ipod:before { content: '\e830'; } /* '' */
.icon-tablet-1:before { content: '\e831'; } /* '' */
.icon-book:before { content: '\e832'; } /* '' */
.icon-wrench-2:before { content: '\e833'; } /* '' */
.icon-cogs:before { content: '\e834'; } /* '' */
.icon-link:before { content: '\e835'; } /* '' */
.icon-attach:before { content: '\e836'; } /* '' */
.icon-mail:before { content: '\e837'; } /* '' */
.icon-location:before { content: '\e838'; } /* '' */
.icon-mail-1:before { content: '\e839'; } /* '' */
.icon-mail-2:before { content: '\e83a'; } /* '' */
.icon-mail-3:before { content: '\e83b'; } /* '' */
.icon-location-outline:before { content: '\e83c'; } /* '' */
.icon-location-1:before { content: '\e83d'; } /* '' */
.icon-location-2:before { content: '\e83e'; } /* '' */
.icon-location-inv:before { content: '\e83f'; } /* '' */
.icon-location-alt:before { content: '\e840'; } /* '' */
.icon-mail-4:before { content: '\e841'; } /* '' */
.icon-mail-5:before { content: '\e842'; } /* '' */
.icon-location-3:before { content: '\e843'; } /* '' */
.icon-email:before { content: '\e844'; } /* '' */
.icon-mail-6:before { content: '\e845'; } /* '' */
.icon-location-5:before { content: '\e846'; } /* '' */
.icon-location-6:before { content: '\e847'; } /* '' */
.icon-phone:before { content: '\e848'; } /* '' */
.icon-phone-1:before { content: '\e849'; } /* '' */
.icon-facebook-2:before { content: '\e84a'; } /* '' */
.icon-facebook-5:before { content: '\e84b'; } /* '' */
.icon-facebook-6:before { content: '\e84c'; } /* '' */
.icon-twitter-2:before { content: '\e84d'; } /* '' */
.icon-linkedin-2:before { content: '\e84e'; } /* '' */
.icon-down-open-2:before { content: '\f004'; } /* '' */
.icon-location-4:before { content: '\f031'; } /* '' */
.icon-facebook-4:before { content: '\f052'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-lightbulb-1:before { content: '\f0eb'; } /* '' */
.icon-unlink:before { content: '\f127'; } /* '' */
.icon-info-1:before { content: '\f129'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-plug-1:before { content: '\f1e6'; } /* '' */
.icon-facebook-3:before { content: '\f300'; } /* '' */
.icon-vimeo:before { content: '\f306'; } /* '' */
.icon-twitter-1:before { content: '\f309'; } /* '' */
.icon-facebook-1:before { content: '\f30c'; } /* '' */
.icon-linkedin-1:before { content: '\f318'; } /* '' */